{% extends "base.html" %}

{% block title %}Uploader App{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<main role="main" class="container">
    <div class="mb-3 row">
        <div class="col">
            <h1>My Finances - Uploader</h1>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col">
            <p>Upload bank statements in CSV form to update My Finances database.</p>
        </div>
    </div>
    <div class="mb-3 row">
        <form method="post" action="/upload"  enctype="multipart/form-data">
            <div class="mb-3 row">
                <label for="uploadCSV" class="col-sm-2 col-form-label">Upload CSV</label>
                <div class="col-sm-3">
                    <input id="uploadCSV" class="form-control" type="file" name="file" required >
                </div>
            </div>
            <div class="mb-3 row">
                <label for="tableName" class="col-sm-2 col-form-label">Table Name</label>
                <div class="col-sm-3">
                    <input id="tableName" class="form-control" type="text" name="table_name" required placeholder="Table Name" >
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% if results is not none %}
    <div class="mb-3 row">
        <div class="alert alert-success" role="alert">
            Table count before was {{ results.table_count_before }} and after the upload is {{ results.table_count_after }}
        </div>
    </div>
    {% endif %}
</main><!-- /.container -->
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}